<!DOCTYPE html>
<html>
	<head>
	<title><%- title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/styles/bootstrap.min.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/styles/global.css" type="text/css" charset="utf-8">
	<script type="text/javascript" src="/js/socket.io.js"></script>
	<script type="text/javascript" src="/js/sails.io.js"></script>
	<script type="text/javascript" src="/js/jquery.1.9.1.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/raphael.js"></script>
	<script type="text/javascript" src="/js/require.js"></script>
	<script type="text/javascript">
		require.config({
			baseUrl: '/js',
			paths: {
				bootstrap				: '/js/bootstrap.min',
				jquery 					: '/js/jquery.1.9.1',
				hash 					: '/js/Hash',
				global 					: '/js/global',
				slides 					: '/js/jquery.slides.min',
				'backbone-relational'	: '/js/backbone-relational'
			},
			shim: {
				backbone: {deps: ['underscore', 'jquery', 'hash'], exports: 'Backbone'},
				underscore: {exports: '_'},
				hash: {exports: 'H'},
				bootstrap: {deps: ['jquery'], exports: '$'},
				'backbone-relational': {deps: ['backbone']},
				'backbone-binding': {deps: ['underscore', 'backbone']}
			}
		});
	</script>
	</head>
	<body>
		<script type="text/javascript" charset="utf-8">
			User = <%- JSON.stringify(req.session.user) %>;
		</script>
		<%- partial('../partials/nav') %>
<%
		if (req.session.flash) {
%>
		<div class="container">
			<div class="alert alert-info text-center">
				<%- req.session.flash %>
				<% delete req.session.flash %>
			</div>
		</div>
<%
		}
%>
		<div class="view">
			<div class="container">
<%
			if (req.session.flash) {
%>
			<div class="alert alert-warning text-center">
				<%- req.session.flash %>
			</div>
<%
				delete req.session.flash;
			}
%>
				<%- body %>
			</div>
		</div>
	</body>
</html>
