<table class="table-bordered table table-condensed">
	<thead>
		<tr>
			<th>Name</th>
			<th>URL</th>
			<th>Status</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
<%
	sites.forEach(function(site, i) {
		var status = site.status && site.status[0] ? Math.round(site.status[0].code / 100) : 0;
%>
		<tr>
			<td><%- site.name %></td>
			<td><%- site.url %></td>
			<td>
				<span class="label label-<%- (status == 2 ? 'success' : ( [3,4].indexOf(status) !== -1 ? 'warning' : isNaN(status) ? '' : 'danger' ) ) %>">
					<%- site.status ? site.status[0].code : 'N/A' %>
				</span>
			</td>
			<td>
				<a href="/sites/update/<%- site.id %>" class="btn btn-xs btn-primary">edit</a>
			</td>
		</tr>
<%
	})
%>
	</tbody>
</table>